# Programmatic Thinking

## 1.1 Arithmetic operators

<font color="red">Arithmetic operator</font> - Symbols that represent an arithmetic operation. + - / * ** //

In [1]:
30 + 12

42

In [2]:
43 - 1

42

In [3]:
6 * 7

42

In [4]:
84 / 2

42.0

<b>integers</b> - represents numbers with no fractional or decimal part

<b>floating-point numbers</b> - represent integers and numbers with a decimal point

In [5]:
84 // 2 # Floor Division (Integer Division)- it divides and only gives you the numbers before the decimal.as_integer_ratio

42

In [6]:
85 // 2

42

In [7]:
# Exponents - when you raise a number to a power of another number
7 ** 2

49

In [8]:
7 ** 2.5

129.64181424216494

In [9]:
# 7 ^ 2 - in some languages you use a caret for exponents

## 1.2 Expressions

<b>Expression</b> - A collection of operators and numbers

In [10]:
6 + 6 ** 2

42

In [11]:
12 + 5 * 6

42

In [12]:
(12 + 5) * 6

102

## 1.3 Arithmetic functions

In [13]:
round(42.4) # round the number in the parenthesis

42

In [14]:
round(41.6)

42

In [15]:
round(41.5)

42

In [16]:
# the abs function - computes the absolute value of a number
abs(42)

42

In [17]:
abs(-42)

42

In [18]:
abs 42

SyntaxError: invalid syntax (816474439.py, line 1)

## 1.4 Strings

<b>Strings</b> - In Python or in any other programming language, strings represent a sequence of characters contained in quotes (either single or double).

In [ ]:
'Hello' # single quotes

'Hello'

In [20]:
"world" # double quotes

'world'

In [21]:
"Hello world'

SyntaxError: unterminated string literal (detected at line 1) (2765662568.py, line 1)

In [22]:
"it's a small world"

"it's a small world"

In [23]:
'It\'s a small world'

"It's a small world"

### + operator with strings:

<b>Concatination</b> - taking multiple strings and putting them together

In [24]:
'Well, ' + "it's a small " + 'world.'

"Well, it's a small world."

### * operator with strings

- it makes multiple copies of a string and concatinates them together

In [25]:
'Spam, ' * 4

'Spam, Spam, Spam, Spam, '

### String functions

In [26]:
len('Spam') # the length of the string

4

In [27]:
`Hello`

SyntaxError: invalid syntax (3321520974.py, line 1)

## 1.5 Values and Types

Multiple types of data:
* Integers
* Floats
* Strings
* Boolean
* NULL

<b>Type</b> - What kind of value is the data that we are using. Values can belong to a type of data.

In [1]:
# Python type function

type(2)

int

In [2]:
type(2.4)

float

In [3]:
type(True)

bool

In [4]:
type("Elijah's Haircut")

str

In [5]:
int(42.9)

42

In [6]:
float(42)

42.0

In [7]:
str(42)

'42'

In [8]:
'42' + '5'

'425'

In [9]:
'126' / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [10]:
int('126') / 3

42.0

In [ ]:
age = input("Please enter your age: ") 
# All data collected from an input statement is ALWAYS a string

birthYear = 2025 - age
print(birthYear)

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [12]:
age = int(input("Please enter your age: "))
# All data collected from an input statement is ALWAYS a string

birthYear = 2025 - age
print(birthYear)

1974

In [13]:
1,000,000

(1, 0, 0)

In [14]:
1000000

1000000

In [15]:
1.000.000

SyntaxError: invalid syntax (1797962719.py, line 1)

In [16]:
1024

1024

In [ ]:
round(42.5)
#

42

## 1.9.5 Exercise

The following questions give you a chance to practice writing arithmetic expressions.

1. How many seconds are there in 42 minutes 42 seconds?
2. How many miles are there in 10 kilometers? HINT: there are 1.61 kilometers in a mile
3. If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?
4. What is your average pace in minutes and seconds per mile?
5. What is your average speed in miles per hour?

In [ ]:
# 1. How many seconds are there in 42 minutes 42 seconds?

seconds = 42 * 60
tot_secs = seconds + 42
print(str(tot_secs) + " seconds in 42 minutes 42 seconds." )

2562 seconds in 42 minutes 42 seconds.

In [22]:
# 2. How many miles are there in 10 kilometers? HINT: there are 1.61 kilometers in a mile

miles = round(10/1.61, 2)

print(miles)

6.21

In [ ]:
# 3. If you run a 10 kilometer race in 42 minutes 42 seconds, 
# what is your average pace in seconds per mile?

secsPerMile = tot_secs / miles

print(round(secsPerMile, 2), "seconds per mile.")

412.56  seconds per mile.

In [27]:
# 4. What is your average pace in minutes and seconds per mile?
avg_pace = secsPerMile / 60

print(round(avg_pace, 2), "is the pace per mile.")

6.88 is the pace per mile.

In [29]:
# 5. What is your average speed in miles per hour?
avg_mph = (avg_pace / 60)

print(avg_mph)

0.11460010735373055

In [33]:
hours = tot_secs / 3600 # convert total time to hours
avg_speed_mph = miles / hours

print("Average speed (mph): ", round(avg_speed_mph, 2))

Average speed (mph):  8.73